@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic);

* {
    margin: auto;
}

#logo {
    float: left;
    color: #ecf0f1;
    font-size: 32px;

    margin-left: 1%;
    font-family: 'Montserrat', sans-serif;
}
.astext {
    background:none;
    border:none;
    text-decoration: none;
    float: left;
    
    text-align: center;
    color: #ecf0f1;
  
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
}
#navbar {
    height: 4%;
    width: 100%;
    border-bottom: 10px solid #282829;
    background-color: #171718;
}

#navbar ul {
    list-style: none;
    padding-right: 1%;
}

#navbar ul li a {
    text-decoration: none;
    float: left;
    
    text-align: center;
    color: #ecf0f1;
  
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
}

#navbar ul li a:hover {
    color: #ecf0f1;
    text-shadow: 0px 2px 1px #16a085;
}

#navbar ul li {
    float: left;
}

#navbar ul {
    float: right;
}